$bg-color: #EDF2EC;
$light-color: #FFFFFF;
$link-color: #010201;
$highlight-color: #499A18;
$primary-color: #E06733;
$heading-color: #717171;
$text-color: #636060;
$form-color: #D6E7D2;
$dark-color: #000000;
$border-color: #E3E1D5;
$active-selector-color: #C1E698;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 380px;
$mobile-small-width: 320px;