.header {
    background-color: $bg-color;
}

.header-wrapper {
    @include flex (flex, center, space-between);
    height: 134px;
    @include media-tablet {
        height: 117px;
    }
    @include media-mobile-big {
        height: 96px;
    }
}

.header-logo {
    font-family: 'Inika', serif;
    @include font(1.6rem, 2.1rem, 400, normal);
    color: $dark-color;
    padding: 0 0 8px 0;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
        @extend %transition;
        transform: scale(1.2);
    }
    @include media-tablet {
        padding: 0 0 4px 0;
    }
    @include media-mobile-big {
        padding: 0 0 4px 0;
    }
}

.header-navigation {
    @include media-correct-I {
        display: none;
    }
}

.header-navigation ul {
    display: flex;
    padding: 0;
    list-style: none;
    & li {
        margin: 0 0 0 47px;
        & a {
            font-family: 'Inika', serif;
            @include font(1.6rem, 5.0rem, 400, normal);
            text-decoration: none;
            color: $dark-color; 
            white-space: nowrap;
        }
        &:first-child a {
            font-weight: 700;
            color: $primary-color;
            margin: 0 0 0 0;
        }
        &:hover {
            @extend %transition;
            transform: scale(1.2);
        }
    }
}