.prices {
    background-color: $light-color;
}

.prices-wrapper {
    @include flex (flex, flex-start, space-between);
    width: 1222px;
    padding: 40px 109px 112px 109px;
}
  
.prices h2 {
    font-family: 'Inter', sans-serif;
    @include font(4.0rem, 4.8rem, 700, normal);
    margin: 0 0 60px 0;
}
  
.prices p {
    font-family: 'Inter', sans-serif;
    @include font(4.0rem, 5.0rem, 700, normal);
    text-align: right;
    color: $dark-color;
    margin: 0 0 38px 0;
    & span {
        color: $highlight-color;
    }
}
  
.prices-block-button {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: space-between;
    border: 1px solid $border-color;
    border-radius: 20px;
    height: 282px;
    width: 332px;
    padding: 34px 0 34px 0;
}
  
.prices-button {
    font-family: 'Inter', sans-serif;
    @include font(2.0rem, 2.0rem, 700, normal);
    @include button_size (250px, 50px, 20px);
    position: relative;
    text-align: left;
    border: none;
    background-color: $bg-color;
    padding: 0 0 0 40px;
    cursor: pointer;
    &:hover {
        box-shadow: $active-selector-color (0 0 10px 5px);
        @extend %transition;
    }
    &::after {
        position: absolute;
        right: 35px;
        content: url(./img/icons/accordion_btn_light.svg);
        width: 16px;
        height: 16px;
        margin: 0 0 0 0;
    }
}
  
.prices-content {
    @include flex (flex, flex-end, space-between);
    flex-direction: column;
    align-content: flex-end;
    width: 452px;
    & .button-type1 {
        box-sizing: border-box;
        font-family: 'Inika', serif;
        @include font(2.0rem, 2.6rem, 700, normal);
        @include button_size (162px, 50px, 5px);
        background-color: $light-color;
    }
    & img{
        height: 183px;
        width: 158px;
        margin: 36px 0 0 0;
    }
}