.contacts-city select {
    box-sizing: border-box;
    background-color: $form-color;
    border: none;
    appearance: none;
    width: 450px;
    height: 50px;
    padding: 0 0 0 20px;
    font-family: 'Inter', sans-serif;
    @include font(2.0rem, 4.0rem, 400, normal);
    letter-spacing: 0.05em;
    color: $heading-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    &:hover {
        background-color: $active-selector-color;
        transition: 300ms;
    }
    &:focus {
        background-color: $active-selector-color;
    }
}