.prices-button:hover, .header-navigation li:hover, .header-logo:hover, .button-type1:hover {
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  min-width: 1440px;
}

body {
  font-size: 1.6rem;
  font-family: "Inika", serif;
  margin: 0px;
}

h2 {
  font-family: "Inika", serif;
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  color: #E06733;
  margin: 10px 0 10px 0;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
  color: #636060;
}

.button-type1 {
  background-color: #EDF2EC;
  color: #E06733;
  border: solid 1px #E06733;
  cursor: pointer;
}
.button-type1:hover {
  background-color: #E06733 !important;
  color: #FFFFFF !important;
}
.button-type1:focus {
  background-color: #E06733 !important;
  color: #FFFFFF !important;
}

.contacts-city select {
  box-sizing: border-box;
  background-color: #D6E7D2;
  border: none;
  appearance: none;
  width: 450px;
  height: 50px;
  padding: 0 0 0 20px;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  color: #717171;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.contacts-city select:hover {
  background-color: #C1E698;
  transition: 300ms;
}
.contacts-city select:focus {
  background-color: #C1E698;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    margin: 0 50px 0 50px;
  }
}

.header {
  background-color: #EDF2EC;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 134px;
  width: 1222px;
  padding: 0 109px 0 109px;
}

.header-logo {
  font-family: "Inika", serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: dark-color;
  padding: 0 0 8px 0;
}

.header-logo:hover {
  transform: scale(1.2);
}

.header-navigation ul {
  display: flex;
  list-style: none;
}

.header-navigation li {
  margin: 0 0 0 47px;
}

.header-navigation li a {
  font-family: "Inika", serif;
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  color: #000000;
}

.header-navigation li:hover {
  transform: scale(1.2);
}

.header-navigation li:first-child a {
  list-style: none;
  font-weight: 700;
  color: #E06733;
}

.welcome {
  background-color: #EDF2EC;
}

.welcome-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 1222px;
  padding: 62px 0px 62px 0px;
}
.welcome-wrapper img {
  width: 449px;
  height: 408px;
}

.welcome-content {
  display: flex;
  flex-wrap: wrap;
  width: 549px;
  height: 340px;
}

.welcome-content h1 {
  font-family: "Inter", sans-serif;
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 700;
  font-style: normal;
  color: #717171;
  margin: 0;
}
.welcome-content h1 span {
  color: #499A18;
}

.welcome-content p {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
  padding: 46px 25px 47px 0;
  margin: 0;
}

.welcome .button-type1 {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  width: 158px;
  height: 44px;
  border-radius: 10px;
  color: #000000;
  border: solid 2px #E06733;
}

.service {
  background-color: #EDF2EC;
}

.service-wrapper {
  width: 1222px;
  padding: 0 109px 121px 109px;
}

.service-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 1007px;
  height: 94px;
  padding: 45px 0 85px 0;
}

.service-head h2 {
  font-family: "Inika", serif;
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 400;
  font-style: normal;
  color: #499A18;
}

.service-block-button {
  display: flex;
}

.service .button-type1 {
  box-sizing: border-box;
  font-family: "Inika", serif;
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
  width: 161px;
  height: 50px;
  border-radius: 5px;
  margin: 3px 0 0 39px;
}

.service-block-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  height: 955px;
}

.service-card {
  box-sizing: border-box;
  display: flex;
  width: 330px;
  flex-direction: column;
  align-items: center;
}

.service-card div {
  box-sizing: border-box;
  border: 1px solid #E3E1D5;
  border-radius: 0 0 20px 20px;
  display: flex;
  width: 330px;
  height: 100px;
  flex-direction: column;
  align-items: center;
}

.service-card p {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  color: #717171;
  margin: 3px 0 0 0;
}

.prices {
  background-color: #FFFFFF;
}

.prices-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 1222px;
  padding: 40px 109px 112px 109px;
}

.prices h2 {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 60px 0;
}

.prices p {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  color: #000000;
  margin: 0 0 38px 0;
}
.prices p span {
  color: #499A18;
}

.prices-block-button {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  align-content: space-between;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  height: 282px;
  width: 332px;
  padding: 34px 0 34px 0;
}

.prices-button {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  position: relative;
  text-align: left;
  border: none;
  background-color: #EDF2EC;
  padding: 0 0 0 40px;
  cursor: pointer;
}
.prices-button:hover {
  box-shadow: #C1E698 0 0 10px 5px;
}
.prices-button::after {
  position: absolute;
  right: 35px;
  content: url(./img/icons/accordion_btn_light.svg);
  width: 16px;
  height: 16px;
  margin: 0 0 0 0;
}

.prices-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-end;
  width: 452px;
}
.prices-content .button-type1 {
  box-sizing: border-box;
  font-family: "Inika", serif;
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 700;
  font-style: normal;
  width: 162px;
  height: 50px;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.prices-content img {
  height: 183px;
  width: 158px;
  margin: 36px 0 0 0;
}

.about {
  background-color: #FFFFFF;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 1222px;
  padding: 93px 109px 94px 109px;
}

.about p {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 20px 0;
}

.about h2 {
  color: #499A18;
  margin: 0 0 40px 0;
  padding: 0 150px 0 0;
}
.about h2 span {
  color: #E06733;
}

.about img {
  width: 460px;
  height: 480px;
}

.about-content {
  display: flex;
  width: 605px;
  height: 350px;
  flex-wrap: wrap;
}

.contacts {
  background-color: #EDF2EC;
}

.contacts-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 1222px;
  padding: 0 109px 0 109px;
}

.contacts img {
  margin: 53px 50px 0 0;
}

.contacts h2 {
  color: #499A18;
  font-weight: 700;
  margin: 60px 0 0 0;
}

.contacts-city {
  position: relative;
  padding: 148px 0 0 0;
}

.contacts-city::after {
  position: absolute;
  right: 35px;
  content: url(./img/icons/accordion_btn.svg);
  width: 16px;
  height: 16px;
  margin: 17px 0 17px 0;
}

.footer {
  background-color: #FFFFFF;
}

.footer a, .footer p {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.footer ul a {
  line-height: 0rem;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 130px;
  width: 1222px;
  padding: 0 109px 0 109px;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 188px;
  padding-inline-start: 0;
  padding: 0 0 0 12px;
}

.footer-rights {
  display: flex;
  align-items: center;
  padding: 0 33px 0 0;
}

.footer-rights :nth-child(2) {
  padding: 0 20px 0 20px;
}

/*# sourceMappingURL=style.css.map */
